<<<<<<< HEAD
.tris-board {
    width: 90px;
    display: flex;
    flex-wrap: wrap;
}

.tris-board button {
    width: 30px;
    height: 30px;
}

header {
    background-color: beige;
}

body {
    background-color: burlywood;
}

button {
    padding: 5px;
    border-radius: 8px;
}

li {
    list-style-type: none;
}

.navbar {
    text-decoration: none;
}

.navbar:hover {
    background-color: #db0d0d;
    color: black;
}
=======
>>>>>>> 5a0700c43b9accb46c0a5b7aa3426d5a8ad42a35
