#root {
    height: 100vh;
    width: 100vw;
    background-image: url(/src/assets/main-bg.png);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}


a {
    all: unset;
    cursor: pointer;
}

button {
    cursor: pointer;
}

h1 {
    font-family: "Bahiana";
}

.navbar a {
    padding: 20px;
}

.navbar {
    text-align: center;
}

a.active {
    filter: brightness(1.2);
}

main {
    width: 100%;
    position: relative;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #483d8b;
}

.carousel-container {
    width: 500px;
    height: 500px;
    margin: 30px auto;
}


.result {
    position: absolute;
    font-size: 40px;
    width: 300px;
    height: 200px;
    background-color: #a5ff7f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: fixed;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.result h1 {
    font-size: 60px;
    color: white;
    text-shadow: 0px 6px 6px #2a2732;
}


.result button {
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 30px;
    position: absolute;
    border: 0;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    font-size: 16px;
    text-align: center;
    background: #2a2732;
    color: white;
    font-weight: bolder;
}

.result.losing {
    background-color: #ef8383;
}

.result.tying {
    background-color: #efdf83;
}

.navbar ul {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.dice-number-container {
    display: flex;
    width: 100%;
    gap: 40px;
    margin-bottom: 20px;
}

.dice-number-container .number {
    width: 250px;
    height: 150px;
    background-color: #d5cfe4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

.dice-number-container .number h4 {
    font-size: 30px;
    color: #483d8b;
}

.dice-number-container .number h2 {
    font-family: 'Bahiana';
    font-size: 30px;
}

.paper-scissor-rock h1 {
    font-size: 40px;
}


.homepage h1 {
    font-size: 50px;
}

.volume-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: #2a2732;
    border: 0;
    padding: 20px;
    background-color: transparent;
}