#root {
    height: 100vh;
    width: 100vw;
    background-image: url(../public/main-bg.png);
    background-size: cover;
}



a {
    all: unset;
    cursor: pointer;
}

h1 {
    font-family: "Bahiana";
}

.navbar a {
    padding: 20px;
}

.navbar {
    text-align: center;
}

a.active {
    filter: brightness(1.2);
}

main {
    text-align: center;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.carousel-container {
    width: 50%;
    height: 100%;
    margin: 30px auto;
}